@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --pink: #9e0d0d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

/* Mensaje Fechas Civicas */
.header-civic {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
    width: 100%;
    height: 4em;
    text-align: center;
    align-content: center;
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-contenedor {
    display: inline-block;
    overflow: hidden;
    width: 50%;
}

.mensaje {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    animation: slide-infinite 15s linear infinite;
}

@keyframes slide-infinite {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section {
    padding: 2rem 9%;
}

.heading span {
    color: var(--pink);
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #dfb409;
    color: #000000;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}


/* Menu de Enlaces */
.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Estilos del menú */
.container-header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 15px;
    position: relative;
    /* Necesario para el menú desplegable */
}

.nav-list li a {
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    position: relative;
}

.nav-list li a .fa-chevron-down {
    margin-left: 5px;
}

.social-icon {
    display: flex;
}

.social-icon a {
    margin-left: 10px;
    color: #333;
    font-size: 20px;
}

/* Botón de menú interactivo para móviles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 1px solid #ddd;
    }

    .nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    border-width: 5px 0 0 0;
    border-color: #d32f2f;
    border-style: solid;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #d32f2f;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* Estilos para el menú desplegable en pantallas más grandes */

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu li a {
    color: #333;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #d32f2f;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

/* GALERIA LETRA */
.SRC {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../img/imagen02.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  font-size: 6rem;
}

.SRC .content h3 {
  font-size: 6rem;
  color: #ffffff;
  display: flex;
  margin: 0;
  align-items: center;
}

/* sección galeria */
/* Estilos para la galería de imágenes */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  /* Ajusta según necesidades */
}

.gallery img {
  border: 5px solid #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 300px;
  max-height: 300px;
  cursor: pointer;
  animation: rotateAndReturn 3s ease-in-out;
  /* Animación inicial */
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.76);
}

@keyframes rotateAndReturn {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
